body, .died, .win, .questWindow, .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}
.parent {
  background-image: url("../images/backgroundV01.jpg");
  width: 100vw;
  height: 100vh;
  position: relative;
}
.died, .win {
  width: 100vw;
  height: 100vh;
  font-size: 92px;
}
.died {
  background-image: url("../images/die.jpg");
  color: #420202;
  text-shadow: 0 0 10px red;
}
.win {
  background-image: url("../images/win2.jpg");
  color: #7c7607;
  text-shadow: 0 0 10px yellow;
}
.questWindow {
  position: absolute;
  /* width: 50vw;
  height: 50vh; */
  flex-direction: column;
  background-image: url("../images/mad_bg.jpg");
  color: white;
}
.game_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background:  #58596b90;
}
.btn {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  margin: 50px;
  -webkit-appearance: none;
}

.btn, .mpouse, .gpouse{
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.btn:hover, .mpouse:hover, .gpouse:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );

  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}
.btn:active, .mpouse:active, .gpouse:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}
.mpouse:hover, .gpouse:hover {
  top: 25px;
}
.mpouse:active, .gpouse:active {
  top: 30px;
}
.mpouse, .gpouse {
  position: fixed;
  top: 30px;
  font-size: 24px;
  padding: 10px 19px;
}
.mpouse {
  right: 30px;
}
.gpouse {
  left: 30px;
}
