body, .died, .win, .questWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  background-image: url("../images/backgroundV01.jpg");
}
.died, .win {
  width: 100vw;
  height: 100vh;
  font-size: 92px;
}
.died {
  background-image: url("../images/die.jpg");
  color: #420202;
  text-shadow: 0 0 10px red;
}
.win {
  background-image: url("../images/win2.jpg");
  color: #7c7607;
  text-shadow: 0 0 10px yellow;
}
.questWindow {
  position: absolute;
  width: 50vw;
  height: 50vh;
  flex-direction: column;
  background-image: url("../images/mad_bg.jpg");
}
